*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: auto;
}
#logo_login{
    max-width: 120px;
    height: auto;
    display: flex;
    justify-content: flex-start;
}
.menu-lateral {
    font-family: Arial, sans-serif;
    width: 250px; 
    height: 100vh; 
    background-color: #f2f5f3; 
    padding: 20px;
    border-right: 1px solid #ddd;
}
.logo-container {
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}
.lista-menu {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    position: relative; 
}

.link-menu {
    display: block;
    text-decoration: none;
    color: #008000;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 5px;
    margin-bottom: 5px; 
    transition: background-color 0.2s, color 0.2s;
}

.link-menu:not(.active):hover {
    background-color: #e0e0e0; 
}

/* .link-menu.active {
    background-color: #e9e9e9;
    color: #006400;
    border-left: 4px solid #D90000;
    padding-left: 11px; 
    transition: background-color 0.2s, color 0.2s;
} */