main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4CAF50;
    font-size: 20px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
#Ranger_login{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;

  width: 50%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
    
}
.text_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  background-color: #f7f2f2;;
  border: 1px solid #e79090;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;

}
h2{
    font-size: 12px;
    padding-bottom: 5px;
}
#text_header{
    color: #A3A3A3;
    width: 100%;
    height: 5%;
}
p{
      font-size: 14px;
      padding: 10px 200px;
      text-justify: justify;
}
      #text_row{
        color: #247bbe;
        background-color: #f1e6e9;
        width: 100%;
        height: 100%;
        }