 <app-header></app-header>
 <main class="w-100 p-4">
        
        <div class="container-fluid">
            
            <h1 class="mb-4">Dashboard FORD</h1>

            </div>

        <div class="row g-4 mb-4" *ngIf="veiculoAtual">

    <div class="col-md-6 col-lg-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Veículo</h5>
                <select class="form-select" [(ngModel)]="veiculoSelecionado" (change)="atualizarTela()">
                    <option *ngFor="let item of listaVeiculos" [value]="item.vehicle">
                        {{item.vehicle}}
                    </option>
                    <!-- <option value="mustang" selected>Mustang</option>
                    <option value="ranger">Ranger</option>
                    <option value="territory">Territory</option>
                    <option value="bronco">Bronco Sport</option> -->
                </select>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card h-100 text-center">
            <div class="card-body">
                <h5 class="card-title">Total de Vendas</h5>
                <p class="h2">1500</p>
                <p class="card-text text-muted">Unid.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card h-100 text-center">
            <div class="card-body">
                <h5 class="card-title">Conectados</h5>
                <p class="h2">500</p>
                <p class="card-text text-muted">Unid.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card h-100 text-center">
            <div class="card-body">
                <h5 class="card-title">Update Software</h5>
                <p class="h2">750</p>
                <p class="card-text text-muted">Unid.</p>
            </div>
        </div>
    </div>
</div>

        <div class="row mb-4" *ngIf="veiculoAtual">
    <div class="col text-center">
        <img [src]="veiculoAtual.img" 
             [alt]="veiculoAtual.vehicle"
             class="img-fluid"
             style="max-width: 500px;">
        <!-- <img src="img/mustang.png" alt="Mustang" class="img-fluid" style="max-width: 500px;">  -->
    </div>
             
    </div>

        <div class="row" *ngIf="dadosTecnicos">
    <div class="col">
        <div class="table-responsive">
            
            <table class="table table-dark table-striped table-hover">
                
                <thead>
                    <tr>
                        <th>Código-Vin</th>
                        <th>Odômetro</th>
                        <th>Nível de Combustível</th>
                        <th>Status</th>
                        <th>Lat.</th>
                        <th>Long.</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>fjnfklkdbndkbdk</td>
                        <td>50000 Km</td>
                        <td>90 %</td>
                        <td>on</td>
                        <td>-12.2322</td>
                        <td>-35.2314</td>
                    </tr>
                    </tbody>
            </table>
            
        </div>
    </div>
</div>
    </main>
